---
layout: default
---

<div class="home">
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading"> Posts </h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            [{{ post.date | date: "%y.%m" }}] {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>